* {
    font-family: futura;
}

h1.title {
    margin-top: 3em;
    margin-bottom: 1em;
}

#graph-div {
    border: 2px solid #566142f2;
    resize: both;
    overflow: auto;
    margin: auto;
    margin-bottom: 6em;
}

body {
    background-color: #ebffbc;
}

svg {
    margin: auto;
    display: flex;
    flex-direction: column;
}

td {
    font-size: 0.5em;
}

h1, h2, h3, h4, label{
    text-align: center;
}

input, select, textarea {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    background-color: #a5da3c5c;
    border-color: #5661425c;
}

#log-container h3{
    margin-bottom: 0;
    margin-top: 0;
}

#topbar {
    display: flex;
    padding: 1em;
    background-color: #a5da3c5c;
}

#topbar p{
    text-align: center;
    margin: auto;
    width: 45%;
    padding: 1em;
    background-color: #87b53e4f;
}

p {
    text-align: center;
}

input[type="file"]{
    width: 15em;
}

h1, h2, h3, h4, h5, p, label{
    color: #566142f2;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #566142f2;
    color: #3d4235f2
}

td {
    font-size: 0.7em; 
}

th {
    font-size: 1em;
}

.select-div{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left:35%;
}

.select-div > * {
    margin-left: 0;
    margin-right: 0;
}

#title-div-center{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left:35%;
}

#title-div-center > * {
    margin-left: 0;
    margin-right: 0;
}

#desc-div {
    display: flex;
    flex-direction: column;
}

#desc-div > * {
    margin: auto;
    margin-bottom: 1em;
}

textarea {
    width: 25%;
}

.title, #log-container > h3, h4  {  
    animation: 1s ease-out 0s 1 slideInFromTop;
}

input, select {
    animation: 1s ease-out 0s 1 fadeIn;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-20em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

table {
    animation: 1s ease-out 0s 1 fadeIn;
}

.title {
    font-size: 3em;
}

.graphDiv {
    width: 30%;
    margin: auto;
    background-color: #cce49ff2;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}